.PAGEBODY {
	margin: 0px 0px 8px 0px;
}

.header_div {
	background-color: #FA6938;
	color: white;
	height: 32px;
	position: relative;
}
.header_span1 {
	background-color: #C6522B;
	position: absolute;
	margin: .588% 0% 0% 9.28%; 
	
	font-size: 70%;
    padding: 4px;
    padding-left: 5px;
    -moz-border-radius: 3px;
border-radius: 3px;

}

.header_span2 {
	background-color: grey;
    border-width: 3px;
    border-color: blue;
	margin: .7% 0% 0% 18.60%;
	position: absolute;
	font-size: 89%;

}

.header_span3 {
	background-color: grey;
	position: absolute;
    border-width: 3px;
    border-color: blue;
	margin: .7% 0% 0% 29.99%; 
	font-size: 89%;
}

.header_span4 {
	background-color: grey;
	position: absolute;
    border-width: 3px;
    border-color: blue;
	margin: .7% 0% 0% 41.35%; 
	font-size: 89%;
}



.header_span5 {
	background-color: grey;
	position: absolute;
    border-width: 3px;
    border-color: blue;
	margin: .7% 0% 0% 53.39%; 
    font-size: 89%;
}
/*main  "Skinny ties" navbar css
*/ 

.mainnavbar {
	background-color: #96A382;
    height: 100px; 
}


.skinnytielogo {
	display: inline;
	
	width: 40px;
	height: 100px;
	background-color: grey;
	margin-left: 9.01%;


}

.skinnytielogo_img {

	max-width: 110px;
}

.navbuttons {

	float: right;
	background-color: blue;
	margin-top: 3vw;
	margin-right: 2.5%;
	font-size: 121%;
}

.navbutton_pattern {

	float: right;
	background-color: blue;
    margin-top: 3vw;
	margin-right: 17%;
	font-size: 121%;
}

.search-cart_div {

	float: right; 
	margin-top: .72%; 
	margin-right: 7.2%;   
}


.navbar_signin_searchbar {

	float: right;
	background-color: #D4AED8;
	margin-top: 2vw;
	position: relative;
}

.navbar_shoppingcart {

	float: right;
	background-color: white;
	border-color: black;
	margin-top: 3vw;
	margin-right: 1vw;
    width: 45px;
    height: 20px;
    border: 1px solid #E8E8E8;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 9%;
   position: relative;

  }

  
.sprite1 {
	background: url('imgs/sprite@2x.png') no-repeat -90px -2px;
	width: 28px;
	height: 28px;
	position: absolute;
	zoom: .5;
	top: 20%;

	left: 2px;
}


.navbar_signin_register_text
{   position: absolute;
	color: lightgrey;
	top: -10px;
	font-size: 60%;

}

.navbar_searchbar {
	margin-top: 6%;

}
.sprite { 
	background: url('imgs/sprite@2x.png') no-repeat -30px 0;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 40%;
	left: 3%;
	zoom: .5;
	border-color: transparent;
}

.searchbar {
	padding-left: 20px;
	height: 19px;
	width: 70%;
	border: 2px solid #E8E8E8;
    -moz-border-radius: 3px;
    border-radius: 3px;

}



.tiebar_display_div {
   background-color: #E59697;
}

.tiestyle_img_div {
    
	margin: auto;
	width: 50vw;
}

.startdressingbetter_div {
	background-color: #EECD86;
}




@media screen and (max-width:650px) {
.tiebar_tie_img {
    display: block;

}
.tiestyle_img_div {
    
	margin: auto;
	width: 50vw;
}
}

/*beginning of the floated bowties, pocket squares, and tie bars floated div structure
*/

.bow_squares_bars_div {
background-color: grey;
position: relative;
padding-left: 10vw;
padding-right: 10vw;
margin: auto;
width: 70vw;
height: 20vw;

}

.bowties_div {
/*    display: inline;
*/
    float: left;
    margin-right: 1vw;
    width: 10vw;
    right: 0px;
    background-color: #CAD4EB;
}

.pocketsquares_div {
    float: left;
    margin-right: 1vw;
    width: 10vw;
    background-color: #CAD4EB;
}

.tiebars_div {
    float: left;
    margin-right: 1vw;
    width: 10vw;
    background-color: #CAD4EB;
}

/*Absolute text divs below
*/ 

.bow_ties_text {
display: inline;
width: 5vw;
}

.pocket_squares_text {
display: inline;

width: 5vw;
}

.tie_bars_text {
display: inline;

width: 5vw;
}


.view_our_history_div { 
   background-color: #96A382;
   height: 10vw;
   border-bottom-style: dotted;
   border-color: grey;
   border-bottom-width: 3px;

 }

.prefooter_bar {
	overflow: auto;
}

 .weekly_pick_div {
 	margin-left: 21vw;
max-width: 200px;
height: 10vw;
float: left;
background-color: #CAD4EB; 
 }
 
 .loop_us_in_div {
max-width: 200px;
height: 10vw;
float: left;
background-color: #EECD86;
 }

.the_quarterly_div {
max-width: 200px;
float: left;
height: 10vw;
background-color: #E59697;
 }

 .style_guide_div {
max-width: 200px;
height: 10vw;
float: left;
background-color: #EECD86;

 }

.footerbar_links_contactus_div {
	background-color: #9A8568;
	position: relative;
    height: 25vw;

}





.footerbar_links  {
display: block;


}

.footerbar_shopby_div {
background-color: grey;
	 width: 100px;
	position: absolute;	

}


.footerbar_aboutus_div {
background-color: #CAD4EB;
 width: 100px;
	position: absolute;	
    left: 13%;
}


.footerbar_styleguide_div {
background-color: #EECD86;
	 width: 100px;
	 position: absolute;	
    left: 26%;

}

.footerbar_help_div {
background-color: grey;
	 width: 100px;
    left: 40%;

	 position: absolute;	

}

.footerbar_contactus_div
{    float: right;	
     margin-right: 10vw;
	  width: 100px;
}

.contactus_here_for_you{
    display: block;
}



.footerbar_contactus_botton {
	position: absolute;
}
/*span {
	border-color: grey;
	border-width: 10px;
}*/