.PAGEBODY {
	margin: 0px 0px 8px 0px;
}

.header_div {
	background-color: #FA6938;
	color: white;
	height: 32px;
	position: relative;
}
.header_span1 {
	background-color: #C6522B;
	position: absolute;
	margin: .588% 0% 0% 9.28%; 
	
	font-size: 70%;
    padding: 4px;
    padding-left: 5px;
    -moz-border-radius: 3px;
border-radius: 3px;

}

.header_span2 {
	background-color: grey;
    border-width: 3px;
    border-color: blue;
	margin: .7% 0% 0% 18.60%;
	position: absolute;
	font-size: 89%;

}

.header_span3 {
	background-color: grey;
	position: absolute;
    border-width: 3px;
    border-color: blue;
	margin: .7% 0% 0% 29.99%; 
	font-size: 89%;
}

.header_span4 {
	background-color: grey;
	position: absolute;
    border-width: 3px;
    border-color: blue;
	margin: .7% 0% 0% 41.35%; 
	font-size: 89%;
}



.header_span5 {
	background-color: grey;
	position: absolute;
    border-width: 3px;
    border-color: blue;
	margin: .7% 0% 0% 53.39%; 
    font-size: 89%;
}
/*main  "Skinny ties" navbar css
*/ 

.mainnavbar {
	background-color: white;
    height: 100px; 
}


.skinnytielogo {
	display: inline;
	
	width: 40px;
	height: 97px;
	/*background-color: grey;*/
	margin-left: 9%;


}

.skinnytielogo_img {

	max-width: 105px;
}

.navbuttons {

    font-family: 'Lato', sans-serif;
    font-weight: 300;
	float: right;
/*	background-color: blue;
*/	margin-top: 3.5vw;
	margin-right: 2.5%;
	font-size: 121%;
}

.navbutton_pattern {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
	float: right;
/*	background-color: blue;
*/    margin-top: 3.5vw;
	margin-right: 11%;
	font-size: 121%;
}

.search-cart_div {

	float: right; 
	margin-top: .72%; 
	margin-right: 7.2%;   
}


.navbar_signin_searchbar {

	float: right;
	background-color: white;
	margin-top: 2vw;
	position: relative;
}

.navbar_shoppingcart {

	float: right;
	background-color: white;
	border-color: black;
	margin-top: 2.81vw;
	margin-right: 1.1vw;
    width: 50px;
    height: 20px;
    border: 3px solid #E8E8E8;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 9%;
   position: relative;
   font-size: 80%;

  }

  
.sprite1 {
	background: url('imgs/sprite@2x.png') no-repeat -90px -2px;
	width: 28px;
	height: 28px;
	position: absolute;
	zoom: .47;
	top: 20%;

	left: 18px;
}

.cart_text {
	position: absolute;
	margin-top: 3px;
	top: 7%;
	left: 27px;
}

.navbar_signin_text
{   position: absolute;
	color: lightgrey;
	top: -14px;
	font-size: 60%;
	left: 41px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.navbar_register_text {
	position: absolute;
	color: lightgrey;
	top: -14px;
	font-size: 60%;
	left: 86px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}
.navbar_searchbar {
	margin-top: 6%;

}
.sprite { 
	background: url('imgs/sprite@2x.png') no-repeat -30px 0;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 44%;
	left: 3%;
	zoom: .44;
	border-color: transparent;
}

.searchbar {
	padding-left: 20px;
	height: 19px;
	width: 70%;
	border: 3px solid #E8E8E8;
    -moz-border-radius: 3px;
    border-radius: 3px;

}



.tiebar_display_div {
   background-color: #F4F4F4;
   height: 329px;
}

.tiestyle_img_div {
    
	margin: auto;
	width: 80vw;
}

.startdressingbetter_div {
	
	width: 90vw;
	margin: 5.1vw auto;
	text-align: center;
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 306%;
}

.tiebar_tie_img1
{
	zoom: .6;
	margin-right: 2.7vw;
    margin-left: 7vw;
}

.tiebar_tie_img
{
	zoom: .6;
	margin-right: 2.7vw;
}
.tie_color_labels {
	
}

.tiecolor_names1 {
	margin-left: 16vw;
	font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-right: 5.5vw;
     font-size: 75%;
}

.tiecolor_names {
    margin-right: 4.2vw;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
     font-size: 75%;
}

.tiecolor_names2 {
	
	font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-right: 5.7vw;
     font-size: 75%;
}


.tiecolor_names3 {
	margin-left: 1.3vw;
	font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 75%;
}

.tiecolor_names4 {
	margin-left: -.6vw;
	font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-right: 4vw;
     font-size: 75%;
}


@media screen and (max-width:650px) {
.tiebar_tie_img {
    display: block;

}
.tiestyle_img_div {
    
	margin: auto;
	width: 50vw;
}
}

/*beginning of the floated bowties, pocket squares, and tie bars floated div structure
*/

.bow_squares_bars_div {
background-color: white;
position: relative;
/*padding-left: 10vw;
padding-right: 10vw;*/
margin: auto;
/*width: 70vw;*/
height: 20vw;
padding-top: 42px;

}

.bowties_div {
/*    display: inline;
*/  position: relative;
    float: left;
    margin-right: 9vw;
    margin-left: 8.7vw;
    width: 20vw;
    height: 15vw;
    right: 0px;
    background-color: #CAD4EB;

}

.bowties_img {

	zoom: .7;
}

.pocketsquares_div { position: relative;
    float: left;
    margin-right: 19vw;
    width: 10vw;
    background-color: #CAD4EB;
}

.pocket_squares_img {
	zoom: .58;

}

.tiebar_img {
	zoom: .58;
}

.tiebars_div {
	position: relative;
    float: left;
    margin-right: 1vw;
    width: 10vw;
    background-color: #CAD4EB;
}

/*Absolute text divs below
*/ 

.bow_ties_text {
display: inline;
width: 10vw;
position: absolute;
top: 15px;
left: 180px;
font-family: 'Titillium Web', sans-serif;
font-weight: 900;
font-size: 120%;
}

.pocket_squares_text {
display: inline;
position: absolute;
width: 5vw;
top: 15px;
left: 200px;
font-family: 'Titillium Web', sans-serif;
font-weight: 900;
font-size: 130%;
text-align: right;

}

.tie_bars_text {
display: inline;
position: absolute; 
width: 10vw;
font-family: 'Titillium Web', sans-serif;
font-weight: 900;
font-size: 130%;
text-align: left;
top: 10px;
left: 180px;
}












.view_our_history_div { 
   
   height: 10vw;
   border-bottom-style: dotted;
   border-color: grey;
   border-bottom-width: 3px;
   text-align: center;
  font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 170%;
   
    margin: auto;
    margin-top: 30px;
 }

.after_years {

	text-align: center;
  font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 100%;
}


.our_story  {

	
	padding-top: 13px;
	color: #1693FF;
}

.ourlink  {
text-decoration: none;
font-size: 50%
}

.prefooter_bar {
	overflow: auto;
}

 .weekly_pick_div {
 	margin-left: 21vw;
max-width: 200px;
height: 10vw;
float: left;
background-color: #CAD4EB; 
 }
 
 .loop_us_in_div {
 	margin-left: 3vw;
max-width: 200px;
height: 10vw;
float: left;
background-color: #EECD86;
 }

.the_quarterly_div {
	margin-left: 3vw;
max-width: 200px;
float: left;
height: 10vw;
background-color: #E59697;
 }

 .style_guide_div {
 	margin-left: 3vw;
max-width: 200px;
height: 10vw;
float: left;
background-color: #EECD86;

 }

.footerbar_links_contactus_div {
	background-color: #9A8568;
	position: relative;
    height: 25vw;

}





.footerbar_links  {
display: block;


}

.footerbar_shopby_div {
background-color: grey;
	 width: 100px;
	position: absolute;	

}


.footerbar_aboutus_div {
background-color: #CAD4EB;
 width: 100px;
	position: absolute;	
    left: 13%;
}


.footerbar_styleguide_div {
background-color: #EECD86;
	 width: 100px;
	 position: absolute;	
    left: 26%;

}

.footerbar_help_div {
background-color: grey;
	 width: 100px;
    left: 40%;

	 position: absolute;	

}

.footerbar_contactus_div
{    float: right;	
     margin-right: 10vw;
	  width: 100px;
}

.contactus_here_for_you{
    display: block;
}



.footerbar_contactus_botton {
	position: absolute;
}
/*span {
	border-color: grey;
	border-width: 10px;
}*/